<.header>
  New Scientific operation
  <:subtitle>Use this form to manage scientific_operation records in your database.</:subtitle>
</.header>

<.scientific_operation_form changeset={@changeset} action={~p"/scientific_operations"} />

<.back navigate={~p"/scientific_operations"}>Back to scientific_operations</.back>
