<.header>
  New Collaborator
  <:subtitle>Use this form to manage collaborator records in your database.</:subtitle>
</.header>

<.collaborator_form changeset={@changeset} action={~p"/collaborators"} />

<.back navigate={~p"/collaborators"}>Back to collaborators</.back>
